node_modules
build/
.idea
.vscode
.setting
.DS_Store
.npmrc
.project
.packageinfo

packages/yuwp-bui-ace/lib/
packages/yuwp-bui-gridlayout/lib/

packages/*/npm-debug.log
packages/*/npm-debug.log.*
packages/*/lerna-debug.log
packages/*/lerna-debug.log.*
packages/*/examples/yuwp-ui
packages/*/examples/pages/en-US
packages/*/examples/pages/zh-CN
packages/*/fe.yuwp-ui/yuwp-ui
packages/*/coverage
packages/*/waiter.config.js
packages/*/build/bin/algolia-key.js
packages/*/deploy
packages/*/src/index.js
